* {

  // HTML-normalize
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  // Text-normalize
  color: black;
  font-size: 12px;
  font-family: "Sans Serif Collection", serif;
  font-weight: 400;
  font-style: normal;


}